body html{
    box-sizing: border-box;
    margin: 0;
}


.cardProducto{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 250px;
    height: 400px;
    padding: 20px;
    background-color: rgba(254, 139, 7, 0.249);
    box-shadow: 2px 0 2px 0;
    border-radius: 5px;
    border: 1px solid rgb(130, 117, 93);
    justify-content: start;
    align-items: center;
}   
.buttonContainer{
    justify-self: center;
    
    
    
}


img {
    width: 100%;
}

.nameItem{
    font-size: 1.8em;
    color:rgba(193, 216, 218, 0.953) ;
}

.precioItem{
    font-size: 1.3em;
    color: rgba(211, 211, 253, 0.692);
    margin-bottom:23%;
}

.botonDetalles{
    height: 40px;
    width: 10em;
    border-radius: 8px;
    background-color: rgb(206, 198, 198);
    color: rgb(0, 0, 0);
    
    
}