.checkOutContainer{
    display: flex;
    height: 100vh;
    width: 100%;
}

.inputC{
    color: azure;
    margin-top: 5px;

}


.containerProductsC{
    margin-top: 50px;
    display: flex;
    width: 150px;
    height: 100px;
    background-color: bisque;
}


.bottonC{
    margin-top: 20px;
    background-color: chocolate;
}

.formCheck{
    width: 100%;
}

.ordenId{
font-size: 2em;
text-align: center;
color: rgba(210, 105, 30, 0.823);

}